# Setup

## Import packages and path

In [14]:
import numpy as np
import pandas as pd
import seaborn as sns
import sklearn as sk
import matplotlib.pyplot as plt

wd = "~/Documents/projects/ncaa"
wd_data = wd + "/data"

## Import data

In [100]:
players = pd.read_csv(wd_data + "/MPlayers.csv")

events_list = []
event_years = []
file_name = "MEvents"
years = np.arange(2015, 2020)

for y in years:
    event_years.append((file_name + str(y)))

for e in event_years:
    events_list.append(pd.read_csv(wd_data + "/" + e + ".csv"))

events_list = pd.DataFrame(events_list)

In [119]:
event_2015 = events_list[0][0]

for i in range(1,len(events_list)):
    events = event_2015.append(events_list[0][i])

# Research data

## Head and Tail

In [131]:
events

,EventID,Season,DayNum,WTeamID,LTeamID,WFinalScore,LFinalScore,WCurrentScore,LCurrentScore,ElapsedSeconds,EventTeamID,EventPlayerID,EventType,EventSubType,X,Y,Area
0,1,2015,11,1103,1420,74,57,0,0,19,1103,100,miss3,unk,0,0,0
1,2,2015,11,1103,1420,74,57,0,0,19,1420,11784,reb,def,0,0,0
2,3,2015,11,1103,1420,74,57,0,0,27,1420,11789,made2,dunk,0,0,0
3,4,2015,11,1103,1420,74,57,0,0,27,1420,11803,assist,NaN,0,0,0
4,5,2015,11,1103,1420,74,57,0,0,59,1103,87,made2,jump,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2706963,13149680,2019,152,1438,1120,63,62,10,11,421,1438,12422,sub,out,0,0,0
2706964,13149681,2019,152,1438,1120,63,62,0,0,421,1438,12402,sub,in,0,0,0
2706965,13149682,2019,152,1438,1120,63,62,10,11,421,1120,695,sub,out,0,0,0
2706966,13149683,2019,152,1438,1120,63,62,0,0,421,1120,718,sub,in,0,0,0
2706967,13149684,2019,152,1438,1120,63,62,10,13,442,1120,736,made2,jump,87,48,2

In [121]:
events.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5267793 entries, 0 to 2706967
Data columns (total 17 columns):
 #   Column          Dtype
---  ------          -----
 0   EventID         int64
 1   Season          int64
 2   DayNum          int64
 3   WTeamID         int64
 4   LTeamID         int64
 5   WFinalScore     int64
 6   LFinalScore     int64
 7   WCurrentScore   int64
 8   LCurrentScore   int64
 9   ElapsedSeconds  int64
 10  EventTeamID     int64
 11  EventPlayerID   int64
 12  EventType       object
 13  EventSubType    object
 14  X               int64
 15  Y               int64
 16  Area            int64
dtypes: int64(15), object(2)
memory usage: 723.4+ MB

In [125]:
events.isna().sum()

EventID                0
Season                 0
DayNum                 0
WTeamID                0
LTeamID                0
WFinalScore            0
LFinalScore            0
WCurrentScore          0
LCurrentScore          0
ElapsedSeconds         0
EventTeamID            0
EventPlayerID          0
EventType              0
EventSubType      569568
X                      0
Y                      0
Area                   0
dtype: int64

In [127]:
events_cats = events.select_dtypes(include="object").columns
for col in events_cats:
    print("Number of classes in:", col)
    print(events[col].nunique())
    print("-----------------------------------")

Number of classes in: EventType
16
-----------------------------------
Number of classes in: EventSubType
52
-----------------------------------

In [ ]:
HwyMpgByClass = []

for t in vehicleclass: # iterate over all the vehicle classes
    summpg = 0
    vclasscount = 0
    for d in mpg: # iterate over all dictionaries
        if d['class'] == t: # if the cylinder amount type matches,
            summpg += float(d['hwy']) # add the hwy mpg
            vclasscount += 1 # increment the count
    HwyMpgByClass.append((t, summpg / vclasscount)) # append the tuple ('class', 'avg mpg')

HwyMpgByClass.sort(key=lambda x: x[1])
HwyMpgByClass

In [153]:
events_season = set(events["Season"].values)
season_won_avg = []

In [150]:
for s in events_season:
    sumwon = 0
    seasoncount = 0
    for d in events:
            if d["Season"] == s:
                sumwon += float(d["Season"])
                seasoncount += 1
    season_won_avg.append((s, sumwon / seasoncount))

season_won_avg.sort(key=lambda x: x[1])
season_won_avg

TypeError: string indices must be integers

In [154]:
events_season

{2015, 2019}

2.0